body {
  display: flex;
  justify-content: center;
}

.contribute-section {
  background-color: #9dade3;
  width: 100vw;
  min-height: calc(100vh - 60px);
}

.contribute-heading {
  padding-top: 30px;
  text-align: center;
}

form {
  min-height: 500px;
  width: 75vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

label {
  display: flex;
  flex-direction: column;
}

.label {
  margin: 20px 0;
}

input {
  border: none;
  padding: 5px;
}

textarea {
  border: none;
  padding: 5px;
  width: 75vw;
  height: 100px;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
}

#photo {
  padding: 5px 0;
}

.error {
  color: red;
  font-size: 12px;
  text-align: center;
}

.submit {
  margin: 20px 0;
  background-color: #495fa6;
  border: 2px solid #f6ae84;
  padding: 5px;
  color: #f6ae84;
  font-weight: bold;
}
